<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
      <img
        src="../assets/img/Nike logo for some reason.png"
        alt="Nike logo [PH]"
      />
    </header>
    <main>
      <section>
        <img src="../assets/img/Imagen.jpg" alt="Photo of mountains" />
      </section>
      <aside>
        <h1><p>Save your data for the next trip now</p></h1>
        <button>Adjust data</button>
        <button>Check us out</button>
      </aside>
    </main>
    <footer>
      <!--Logo goes here-->
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo.
      </p>
    </footer>
  </body>
</html>
