<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
</head>

<body>
  <div class="popupOverlay">
    <div class="popupCard">

      <form class="loginForm profileForm" id="profileForm">
        <div class="profileHeader">
          <div class="avatar">
            <img src="https://placehold.co/280x280/png" alt="avatar" />
          </div>
          <div class="infoArea">
            <div class="fields">
              <div class="field half">
                <label for="firstName">Name</label>
                <input id="firstName" name="firstName" type="text" placeholder="John" />
              </div>
              <div class="field half">
                <label for="lastName">Surname</label>
                <input id="lastName" name="lastName" type="text" placeholder="Doe" />
              </div>
              <div class="field full">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="example@example.com" />
              </div>
            </div>
          </div>
        </div>

        <div class="fields">
          <div class="field half">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" placeholder="Example" />
          </div>

          <div class="field half">
            <label for="password">Password</label>                        
              <button type="button" id="changePwdBtn" class="changePwdBtn">Change Password</button>            
          </div>
          <div class="field half">
            <label for="phone">Phone Number</label>
            <input id="phone" name="phone" type="tel" placeholder="000-000-0000" />
          </div>
          <div class="field half">
            <label for="gender">Gender</label>
            <select name="gender" id="gender">
              <option value="Masculino">Man</option>
              <option value="Femenino">Woman</option>
              <option value="Otro">Other</option>
            </select>
          </div>
          <div class="field full">
            <label for="accountNumber">Account Number</label>
            <input id="accountNumber" name="accountNumber" type="text" placeholder="XXXX-XXXX-XXXX-XXXX" />
          </div>
        </div>
        <span style="color:green"; id="message"></span>
        <div class="actions">
          
          <button id="deleteBtn" class="deleteBtn" type="submit">Delete Account</button>
          <button class="saveBtn" type="submit">Save Data</button>         
        </div>
      </form>

    </div>
  </div>

  <!-- Modal to change the password -->
  <div id="changePasswordModal" class="changePasswordModal">
        <div class="changePasswordModalContent">
            <span class="closePasswordModal">&times;</span>
            <h2>Change Password</h2>
            <form id="changePasswordForm">
                <label for="currentPassword">Actual Password</label>
                <input type="password" id="currentPassword" name="currentPassword" required>
                <span style="color:red"; id="messageOldPassword"></span>
                
                <label for="newPassword">New Password</label>
                <input type="password" id="newPassword" name="newPassword" required>
                
                <label for="confirmNewPassword">Repeat Password</label>
                <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
                <span style="color:red"; id="messageWrongPassword"></span>
                
                <span style="color:green"; id="messageSuccessPassword"></span>
                <button type="submit">Confirm</button>
                
            </form>
            <div id="passwordMessage" class="passwordMessage"></div>
        </div>
    </div>

  <script src="../assets/js/profilePopup.js"></script>
  <script src="../assets/js/changePasswordPopup.js"></script>
</body>

</html>